# Data Cleaning

## Movies file cleaning
### Counting all the movies in the file

In [58]:
import pandas as pd

movies_df = pd.read_csv('movies.csv')
print('Total number of movies before cleaning: ', len(movies_df))

941597

### Cleaning empty rating and name columns

In [70]:
movies_cleaned=movies_df

#remove empty strings or null values from rating column
movies_cleaned = movies_cleaned.dropna(subset=['name'])
print('Cleaning empty name values: ', len(movies_cleaned))
movies_cleaned = movies_cleaned.dropna(subset=['rating'])
print('Cleaning empty rating values:', len(movies_cleaned))

Cleaning empty name values:  941587
Cleaning empty rating values: 90999

### Cleaning rows with duplicate IDs

In [60]:
#drop duplicate rows with the same id
movies_cleaned = movies_cleaned.drop_duplicates(subset=['id'], keep='first')
print('Cleaning duplicate movies: ', len(movies_cleaned),'\n')

#increasing display width to fit all the columns
pd.set_option("display.width", 140)
print('Displaying the cleaned data frame:')

#Displaying shortened columns for the sake of visibility: name, tagline and description have been shortened to three words
print(movies_cleaned.assign(tagline=movies_cleaned["tagline"].apply(lambda x: " ".join(str(x).split()[:4])), description=movies_cleaned["description"].apply(lambda x: " ".join(str(x).split()[:4])), name=movies_cleaned["name"].apply(lambda x: " ".join(str(x).split()[:4]))).head().to_string(index=False, col_space=10))

Cleaning duplicate movies:  90999

Displaying the cleaned data frame:
        id                         name       date                     tagline                       description     minute     rating
   1000001                       Barbie     2023.0 She's everything. He's just                Barbie and Ken are      114.0       3.86
   1000002                     Parasite     2019.0            Act like you own  All unemployed, Ki-taek's family      133.0       4.56
   1000003 Everything Everywhere All at     2022.0          The universe is so        An aging Chinese immigrant      140.0       4.30
   1000004                   Fight Club     1999.0     Mischief. Mayhem. Soap. A ticking-time-bomb insomniac and      139.0       4.27
   1000005                   La La Land     2016.0         Here's to the fools         Mia, an aspiring actress,      129.0       4.09

### Casting date and minute to avoid the decimal numbers

In [61]:
#casting to integer to avoid showing decimal numbers
movies_cleaned['date']=movies_cleaned['date'].astype('Int64')

#casting to integer to avoid showing decimal numbers
movies_cleaned['minute']=movies_cleaned['minute'].astype('Int64')

#shortened display
print(movies_cleaned.assign(tagline=movies_cleaned["tagline"].apply(lambda x: " ".join(str(x).split()[:4])), description=movies_cleaned["description"].apply(lambda x: " ".join(str(x).split()[:4])), name=movies_cleaned["name"].apply(lambda x: " ".join(str(x).split()[:4]))).head().to_string(index=False, col_space=10))

#generating a new CSV to use during the data analysis
movies_cleaned.to_csv('movies_cleaned.csv', index=False)

        id                         name       date                     tagline                       description     minute     rating
   1000001                       Barbie       2023 She's everything. He's just                Barbie and Ken are        114       3.86
   1000002                     Parasite       2019            Act like you own  All unemployed, Ki-taek's family        133       4.56
   1000003 Everything Everywhere All at       2022          The universe is so        An aging Chinese immigrant        140       4.30
   1000004                   Fight Club       1999     Mischief. Mayhem. Soap. A ticking-time-bomb insomniac and        139       4.27
   1000005                   La La Land       2016         Here's to the fools         Mia, an aspiring actress,        129       4.09

## Genre file cleaning
### Counting all the genres present for each existing movie

In [62]:
genres_df = pd.read_csv('genres.csv')
print('Total number of genres for all present movies before cleaning: ', len(genres_df))

1046849

### Cleaning empty id or genre columns

In [71]:
genres_cleaned=genres_df.dropna(subset=['genre','id'])
print("Cleaning any empty column: ",len(genres_cleaned))

No changes:  1046849

### Removing rows where the same ID has the same genre multiple times

In [72]:
genres_cleaned = genres_cleaned.drop_duplicates(subset=['id','genre'], keep='first')
print("Dropping duplicate genres for the same id: ",len(genres_cleaned),"\n")
print("Displaying the cleaned data frame:")
print(genres_cleaned.head().to_string(index=False, col_space=10))
genres_cleaned.to_csv('genres_cleaned.csv', index=False)

Dropping duplicate genres for the same id:  1046849

Displaying the cleaned data frame:
        id      genre
   1000001     Comedy
   1000001  Adventure
   1000002     Comedy
   1000002   Thriller
   1000002      Drama

## Actor file cleaning
### Removing duplicate rows and empty roles and previewing data

In [65]:
actor_df = pd.read_csv('actors.csv')
actors_cleaned = actor_df[(actor_df['role'].notna()) & (actor_df['role'] != '')] #remove empty strings or null values from role column
actors_cleaned = actors_cleaned.drop_duplicates() #remove duplicate rows
print('Data type of actors')
print(actors_cleaned.dtypes,'\n') #preview of the data types of each column
print('Data preview of actors')
print(actors_cleaned.head().to_string(index=False, col_space=10)) #preview of the data file
actors_cleaned.to_csv('actors_cleaned.csv', index=False) #generating a new CSV to use during the data analysis

Data type of actors
id       int64
name    object
role    object
dtype: object

Data preview of actors
        id              name       role
   1000001     Margot Robbie     Barbie
   1000001      Ryan Gosling        Ken
   1000001   America Ferrera     Gloria
   1000001 Ariana Greenblatt      Sasha
   1000001          Issa Rae     Barbie